# Database configuration
DB_USER=user
DB_PASSWORD=password
DB_NAME=name

# API URL for frontend (dev: http://localhost:8081, prod: /api)
REACT_APP_API_URL=http://localhost:8081

# PGAdmin configuration
PGADMIN_EMAIL=email
PGADMIN_PASSWORD=password
